<h1>Nails</h1>

<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-11">
            <table class="table" style="width: 100%;">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Code</th>
                    <th scope="col">Color</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody>
                    <% @nails.each do |nail|%>
                    <tr>
                        <th scope="row"><%= nail.id %></th>
                        <td><%= nail.brand.name %></td>
                        <td><%= nail.code %></td>
                        <td><%= nail.color %></td>
                        <td><%= nail.amount %></td>
                        <td>
                            <%= button_to "Edit", edit_nail_path(nail), method: "get", :form => { :style => "display: inline"}, :class => "btn btn-success" %>
                            <%= button_to "Delete", nail_path(nail), method: "delete", :form => { :style => "display: inline"}, :class => "btn btn-danger", data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                            }%>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-1">
            <%= button_to "Create", new_nail_path, method: "get", :form => { :style => "display: inline"}, :class => "btn btn-primary" %>
        </div>
    </div>
</div>